*, *::before, *::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Raleway';
	color: white;
	letter-spacing: .06em;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: auto;
	background-color: #333;
	text-rendering: optimizeLegibility;
}

button, img {
  cursor: pointer;
  border-color: black;
}

.input-group {
	margin-top: 5%;
	margin-bottom: 2%;
}

.search-input {
	border-radius: 5px;
	outline: none;
}

.btn-primary {
	background-color: hsl(200, 100%, 50%);
	border: 1px solid hsl(200, 100%, 30%);
	border-radius: 5px;
	padding: 5px 10px;
	color: white;
	outline: none;
}