*, *::before, *::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Raleway';
	color: white;
	letter-spacing: .06em;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: auto;
	background-color: #333;
	text-rendering: optimizeLegibility;
}

button, img {
  cursor: pointer;
}

.input-group {
	margin-bottom: 2%;
}
